@import '../../../assets/styles/adaptive';
@import '../../../assets/styles/palette';

.mobileMenu {
	width:         100%;
	padding:       34px 20px 24px;
	border-top:    1px solid $primary;
	border-bottom: 1px solid $primary;
	white-space:   nowrap;
	display:       flex;
	align-items:   center;
	flex-flow:     column;

	&Visible {
		display: block;
	}
}

.list {
	display:    flex;
	gap:        15px 0;
	flex-flow:  column;
	margin-top: 44px;
}

.link {
	font-weight: 500;
	font-size:   18px;
	line-height: 1.22;
	color:       $white;
}

.number {
	margin-top:  22px;
	font-weight: 600;
	font-size:   20px;
	line-height: 24px;
	color:       $primary;
	display:     flex;
	align-items: center;
	gap:         0 5px;

	&:before {
		content: url('../../../assets/images/header/phone.svg');
		display: block;
		width:   18px;
		height:  18px;
	}
}

.socials {
	margin-top: 24px;
}
