@import '../../../assets/styles/palette';

.socials {
	display: flex;
	gap:     0 20px;
}

.social {
	height:        max-content;
	border-radius: 16px;
}

.img {
	width:      32px;
	height:     32px;
	object-fit: contain;
}
