@import '../../../assets/styles/palette';
@import '../../../assets/styles/adaptive';

.menu {
	display:          flex;
	justify-content:  space-between;
	align-items:      center;
	width:            100%;
	margin:           15px auto 0;
	padding:          11px 76px;
	background-color: $primary;
	box-shadow:       inset 0 -2px 6px rgba(0, 0, 0, .15);
	border-radius:    10px;
	gap:              0 24px;

	@media screen and (max-width: 1100px) {
		padding: 11px 20px;
	}

	@include mobile {
		display: none;
	}
}

.mobileMenu {
	width:       100%;
	padding:     34px 20px 24px;
	white-space: nowrap;
	display:     flex;
	flex-flow:   column;
	gap:         20px 0;
}

.item {
	text-align: center;
}

.link {
	font-weight: 400;
	font-size:   16px;
	line-height: 19px;
	color:       $black;
}

.mobileLink {
	font-weight: 500;
	font-size:   20px;
	line-height: 1.22;
	color:       $white;
}
