$black:          #000;
$white:          #fff;
$primary:        #ffb000;
$blue:           #4db5d6;
$green:          #00e676;
$placeholder:    #676767;
$platinum:       #e8e8e8;
$dark_goldenrod: #b78311;
$brass:          #c1a349;
$instagram-pink: #f66bc5;
$lust:           #e32222;
$neon-green:     #23e518;

$success-msg:    #008000;
